<a href="/" id="back-link"><mat-icon>arrow_back</mat-icon></a>
<div *ngIf="gallery" id="art-works-display">
    <h2>{{ gallery.name }} - {{ gallery.city }}</h2>
    <p>Gerente: {{ gallery.manager }}</p>
  
    <div class="artworks-list" *ngIf="gallery.artWorksOnDisplay?.length">
      <div *ngFor="let artwork of gallery.artWorksOnDisplay; index as i;" class="artwork-item">
        <img [src]="randomImg[i]" alt="{{artwork.name}} picture" class="card-img">
        <div class="card-texts">
          <h3>{{ artwork.name }}</h3>
          <span class="author">Autor: {{ artwork.author }}</span>
          <p>Preço: <strong>{{ artwork.askPrice | currency:'EUR' }}</strong></p>
          <span>Ano de criação: <strong>{{ artwork.creationYear }}</strong></span>
        </div>
      </div>
    </div>
  
    <p *ngIf="!gallery.artWorksOnDisplay?.length">Nenhuma obra de arte disponível nesta galeria.</p>
</div>
  