<a href="/" id="back-link" title="voltar para o inicio"><mat-icon>arrow_back</mat-icon></a>
<h2>Editar Gallery</h2>

<form (ngSubmit)="updateArtItem()">
    <label for="name">Nome:</label>
    <input type="text" [(ngModel)]="galleryAndArtWorks.name" name="name" required>
  
    <label for="manager">Manager:</label>
    <input type="text" [(ngModel)]="galleryAndArtWorks.manager" name="manager" required>

    <label for="city">Cidade:</label>
    <input type="text" [(ngModel)]="galleryAndArtWorks.city" name="city" required>

    <button type="submit">Atualizar</button>
</form>