.edit {
    padding-right: 1rem;
}

#art-abreu {
    max-width: 120px;
    border-radius: 50%;
    top: -20px;
    position: absolute;
    right: -15px;
}

.btn-link {
    cursor: pointer;
}

.btn-add {
    position: absolute;
    right: 0;
    bottom: -33px;
    background-color: #686de0;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    left: calc(50% - 38px);
    font-weight: bold;
}

/* .mat-form-field{
    width:350px !important;
} */